@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Pacifico&family=Raleway:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ul, * ul::after, * ul::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button {
  outline: none;
}
button:focus {
  outline: none;
}

body {
  background-color: #f3f4f6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  -webkit-backdrop-filter: blur(10px) !important;
          backdrop-filter: blur(10px) !important;
  width: 100%;
  z-index: 1000000;
}
nav .container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container .left-nav {
  display: flex;
}
nav .container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
}
nav .container .logo span {
  color: #000;
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 1rem;
}
nav .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  list-style: none;
}
nav .container ul li {
  padding: 0 10px;
}
nav .container ul li a {
  color: #b6bbca;
  transition: all 0.3s;
}
nav .container ul li a:hover {
  color: #000;
  font-weight: bold;
}
nav .container ul li a.active {
  font-weight: bold;
  color: #000;
}
nav .container .right-nav .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .container .right-nav .buttons button {
  width: 180px;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 50px;
  margin: 0 1rem;
}
nav .container .right-nav .buttons button.login {
  background-color: #01ce87;
  color: #fff;
  box-shadow: 5px 15px 40px #01ce87;
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-section .row .p-lg-4 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.hero-section .row .col-lg-6 h6 {
  color: #197bff;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.23rem;
}
.hero-section .row .col-lg-6 h1 {
  color: #0a0a1a;
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "poppins";
}
.hero-section .row .col-lg-6 p {
  color: #b6bbca;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.hero-section .row .col-lg-6 .buttons button.get-started {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  background-color: #197bff;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  outline: none;
  border: none;
  box-shadow: 10px 20px 40px #197bff;
}
.hero-section .row .col-lg-6 .buttons button.play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #01ce87;
  color: #fff;
  box-shadow: 10px 20px 50px #01ce87;
  margin-left: 1rem;
}
.hero-section .row .col-lg-6 .buttons span {
  color: #000;
  text-transform: capitalize;
  margin-left: 1rem;
  font-weight: bold;
}

.clients .text-center {
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.3rem;
}
.clients .text-center span {
  color: #0a0a1a;
  font-weight: bold;
  border-bottom: 1px solid #01ce87;
}
.clients .col-xxl-2 img {
  filter: contrast(0);
  transition: all 0.3s;
}
.clients .col-xxl-2 img:hover {
  filter: contrast(1);
}

.about-us {
  margin-top: 10rem !important;
}
.about-us .row .col-lg-6 .img {
  position: relative;
}
.about-us .row .col-lg-6 .img::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #01ce87;
  transform: rotate(5deg) translateY(-10px);
  border-radius: 30px;
  box-shadow: 10px 20px 40px #01ce87;
  z-index: -1;
}
.about-us .row .col-lg-6 .img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #197bff;
  transform: rotate(15deg) translateY(10px);
  border-radius: 30px;
  box-shadow: 10px 20px 40px #197bff;
  z-index: -1;
}
.about-us .row .col-lg-6 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.about-us .p-lg-5 h6 {
  color: #01ce87;
  font-weight: bold;
  text-transform: capitalize;
}
.about-us .p-lg-5 h1 {
  color: #0a0a1a;
  font-weight: bold;
  font-family: "poppins";
  font-size: 3rem;
  text-transform: capitalize;
}
.about-us .p-lg-5 h1 span {
  font-weight: bold;
  background: linear-gradient(to right, #01ce87 0%, #197bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-us .buttons {
  margin-top: 1rem;
}
.about-us .buttons button.get-started {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  background-color: #197bff;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  outline: none;
  border: none;
  box-shadow: 10px 20px 40px #197bff;
}
.about-us .buttons button.readMore {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  background-color: #01ce87;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  outline: none;
  border: none;
  box-shadow: 10px 20px 40px #01ce87;
}

.services {
  margin-top: 10rem;
}
.services h6 {
  color: #197bff;
}
.services h1 {
  font-weight: bold;
  font-size: 3rem;
  color: #0a0a1a;
  font-family: "Poppins";
}
.services .card {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .card .icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #dafbf7;
}
.services .card .icon img {
  width: 50px;
  height: 50px;
}
.services .card h5 {
  margin-top: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #0a0a1a;
}
.services .card p {
  color: #000;
}
.services .card2 .icon {
  background-color: #e7d9f8;
}
.services .card3 .icon {
  background-color: #ffede6;
}
.services .card4 .icon {
  background-color: #ffe1e9;
}
.services .card5 .icon {
  background-color: #dbedff;
}
.services .card6 .icon {
  background-color: #dbf9ed;
}
.services .card7 .icon {
  background-color: #fffad9;
}
.services .card8 .icon {
  background-color: #e7d9f8;
}

.e-commerce {
  margin-top: 5rem;
  width: 100%;
  padding: 2rem;
  position: relative;
}
.e-commerce::before {
  content: "";
  width: 400px;
  height: 400px;
  background-color: #01ce87;
  position: absolute;
  top: 0;
  left: -300px;
  border-radius: 20px;
  transform: rotate(45deg);
  box-shadow: 10px 20px 40px #01ce87;
}
.e-commerce::after {
  content: "";
  width: 400px;
  height: 400px;
  background-color: #01ce87;
  position: absolute;
  bottom: 0;
  right: -300px;
  border-radius: 50%;
  transform: rotate(45deg);
  box-shadow: 10px 20px 40px #01ce87;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.e-commerce h1 {
  font-family: "Poppins";
  font-weight: bold;
  color: #0a0a1a;
}
.e-commerce h1 span {
  background: linear-gradient(to right, #01ce87 0%, #197bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Poppins";
}
.e-commerce p {
  color: #0a0a1a;
  font-weight: 500;
}
.e-commerce .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.e-commerce .card .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.e-commerce .card h2 {
  margin-top: 1rem;
  color: #0a0a1a;
  font-weight: bold;
  font-family: "poppins";
  text-transform: capitalize;
}
.e-commerce .card ul li {
  padding: 5px 0;
}
.e-commerce .card ul li i {
  color: #01ce87;
  margin-right: 1rem;
}
.e-commerce .card button {
  width: 180px;
  height: 50px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #197bff;
  color: #fff;
  box-shadow: 0 10px 30px #197bff;
  border-radius: 5px;
  margin-top: 1rem;
}
.e-commerce .card button i {
  margin-left: 1rem;
}

.more-about-us {
  margin-top: 5rem;
}
.more-about-us .img {
  position: relative;
}
.more-about-us .img::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0%;
  width: 300px;
  height: 300px;
  background-color: #197bff;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 10px 20px 30px #197bff;
}
.more-about-us h6 {
  color: #197bff;
  font-weight: bold;
  font-size: 1.2rem;
}
.more-about-us h1 {
  font-size: 3rem;
  font-family: "Poppins";
  color: #0a0a1a;
  font-weight: bold;
}
.more-about-us h1 span {
  font-family: "Poppins";
  background: linear-gradient(to right, #01ce87 0%, #197bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.more-about-us p {
  color: #0a0a1a;
  font-weight: 500;
}
.more-about-us button {
  margin-top: 1rem;
  width: 220px;
  height: 80px;
  border-radius: 50px;
  outline: none;
  background-color: #197bff;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  box-shadow: 10px 20px 40px #197bff;
}

.testimonials {
  margin-top: 4rem;
}
.testimonials h6 {
  color: #197bff;
  text-transform: capitalize;
  font-size: 1.3rem;
  text-align: center;
}
.testimonials h1 {
  font-size: 3rem;
  font-family: "Poppins";
  color: #0a0a1a;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
}
.testimonials h1 span {
  font-family: "Poppins";
  background: linear-gradient(to right, #01ce87 0%, #197bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.testimonials .mb-4 .carousel-control-prev-icon {
  width: 50px;
  height: 50px;
  background-color: #01ce87;
  filter: invert(0) grayscale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 10px 10px 40px #01ce87;
}
.testimonials .mb-4 .carousel-control-next-icon {
  width: 50px;
  height: 50px;
  background-color: #01ce87;
  filter: invert(0) grayscale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 10px 10px 40px #01ce87;
}
.testimonials .carousel-item .col-lg-6 {
  border-radius: 10px;
  padding: 1rem;
}
.testimonials .carousel-item .col-lg-6 .card {
  padding: 2rem;
  position: relative;
  background-image: url(/img/waves.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.testimonials .carousel-item .col-lg-6 .card img {
  margin: auto;
}
.testimonials .carousel-item .col-lg-6 .card h5 {
  color: #0a0a1a;
  font-weight: bold;
  font-family: "Poppins";
  font-size: 1.5rem;
}
.testimonials .carousel-item img {
  border: 5px solid #01ce87;
  box-shadow: 10px 10px 30px #01ce87;
}

.achievements {
  margin-top: 5rem;
}
.achievements h6 {
  color: #197bff;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.achievements h1 {
  font-size: 3rem;
  font-family: "Poppins";
  color: #0a0a1a;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
}
.achievements h1 span {
  font-family: "Poppins";
  background: linear-gradient(to right, #01ce87 0%, #197bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.achievements .col-xl-3 {
  padding: 4rem;
  border-radius: 20px;
  border-right: 1px solid #01ce87;
}
.achievements .col-xl-3 .number {
  font-size: 3rem;
  color: #0a0a1a;
  font-weight: bold;
  font-family: "Poppins";
}
.achievements .col-xl-3 span {
  font-size: 3rem;
  color: #0a0a1a;
  font-weight: bold;
}

.project {
  margin-top: 5rem;
}
.project h6 {
  text-align: center;
  color: #197bff;
  font-weight: bold;
  font-size: 1.3rem;
}
.project h1 {
  font-size: 3rem;
  font-family: "Poppins";
  color: #0a0a1a;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}
.project h1 span {
  font-family: "Poppins";
  background: linear-gradient(to right, #01ce87 0%, #197bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project .img {
  position: relative;
}
.project .img img {
  border-radius: 10px;
  box-shadow: 10px 10px 20px;
}
.project .img .text-content {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  left: 20px;
  padding: 2rem;
  background-color: #fff;
  z-index: 600;
  border-radius: 20px;
}
.project .img .text-content a.heading {
  color: #0a0a1a;
  font-weight: bold;
  font-size: 1.5rem;
}
.project .img .text-content a.categry {
  color: #197bff;
  background-color: #e3efff;
  font-family: "Poppins";
  font-weight: bold;
  padding: 0.123rem;
}
.project .img .icon {
  width: 50px;
  height: 50px;
  background-color: #197bff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.project .img .icon i {
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
}
.project .img:hover .text-content {
  opacity: 1;
  visibility: visible;
}

.prizing {
  margin-top: 4rem;
}
.prizing .section-header h6 {
  color: #197bff;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.5rem;
}
.prizing h1 {
  font-size: 3rem;
  font-family: "Poppins";
  color: #0a0a1a;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}
.prizing h1 span {
  font-family: "Poppins";
  background: linear-gradient(to right, #01ce87 0%, #197bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prizing .container .card {
  padding: 2rem;
}
.prizing .container .card .img {
  width: 100px;
  height: 100px;
  background-color: #e3efff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
}
.prizing .container .card h4 {
  color: #0a0a1a;
  font-weight: bold;
  font-family: "Poppins";
  text-align: center;
  margin-top: 1rem;
  font-size: 2.3676686rem;
}
.prizing .container .card .prize {
  text-align: center;
  color: #000;
  font-size: 2.34545rem;
  font-weight: bold;
  font-family: "Poppins";
}
.prizing .container .card .prize span {
  font-size: 1rem;
}
.prizing .container .card .text-center {
  font-size: 1.5rem;
  color: #0a0a1a;
  text-transform: capitalize;
}
.prizing .container .card ul {
  padding: 1rem;
  line-height: 20px;
}
.prizing .container .card ul li {
  list-style: none;
  font-weight: bold;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 50px;
}
.prizing .container .card ul li i {
  color: #01ce87;
  margin-right: 0.5em;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  background-color: #c0f1e0;
}
.prizing .container .card button {
  height: 50px;
  border-radius: 30px;
  background-color: #01ce87;
  color: #fff;
  outline: none;
  border: none;
}
.prizing .card2 .img {
  background-color: #e7d9f8;
}

.blog-section {
  margin-top: 5rem;
}
.blog-section h6 {
  color: #197bff;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5rem;
}
.blog-section h1 {
  font-size: 3rem;
  font-family: "Poppins";
  color: #0a0a1a;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}
.blog-section h1 span {
  font-family: "Poppins";
  background: linear-gradient(to right, #01ce87 0%, #197bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blog-section .cards .card {
  margin: 0 2rem !important;
}
.blog-section .cards .card .img {
  position: relative;
  overflow: hidden;
}
.blog-section .cards .card .img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  transition: all 0.3s;
}
.blog-section .cards .card .img:hover::after {
  opacity: 0.5;
}
.blog-section .cards .card .img:hover .link {
  top: 50%;
}
.blog-section .cards .card .link {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s;
  z-index: 50;
}
.blog-section .cards .card .link:hover {
  box-shadow: 10px 10px 50px white, 10px 10px 50px #197bff, 10px 10px 60px #01ce87;
}
.blog-section .cards .card .link i {
  color: #0a0a1a;
  font-weight: bold;
  font-size: 2rem;
}
.blog-section .cards .card .card-body h5 {
  font-family: "Poppins";
  font-weight: bold;
  color: #0a0a1a;
  font-size: 1.3453546646rem;
}
.blog-section .cards .card .card-body a {
  margin-top: 3rem !important;
}
.blog-section .next {
  position: absolute;
  bottom: -20%;
  cursor: pointer;
  left: 50%;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #01ce87;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-shadow: 10px 20px 40px #01ce87;
  font-size: 2rem;
  border-radius: 50%;
}
.blog-section .prev {
  position: absolute;
  bottom: -20%;
  cursor: pointer;
  left: 41%;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #01ce87;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-shadow: 10px 20px 40px #01ce87;
  font-size: 2rem;
  border-radius: 50%;
}

.contact-us {
  margin-top: 10rem;
}
.contact-us h1 {
  font-size: 3rem;
  font-family: "Poppins";
  color: #0a0a1a;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}
.contact-us h1 span {
  font-family: "Poppins";
  background: linear-gradient(to right, #01ce87 0%, #197bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-outline input[type=text]:focus {
  box-shadow: 0 1px 0 0 green !important;
  border-bottom: 1px solid green !important;
}

.btn-my {
  width: 200px;
  height: 50px;
  background-color: #01ce87;
  border-radius: 50px;
  margin-top: 1rem;
  box-shadow: 10px 20px 40px #01ce87;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
}

footer {
  margin-top: 5rem;
  padding: 5rem;
  width: 100%;
  height: auto;
  background-image: url(/img/footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer .logo {
  display: flex;
  align-items: center;
}
footer .logo span {
  font-size: 2rem;
  color: #fff;
  padding-left: 1rem;
}
footer p {
  color: #fff;
}
footer h2 {
  color: #fff;
  font-weight: bold;
}
footer ul {
  list-style: none;
  line-height: 30px;
}
footer ul li a {
  color: #fff;
  position: relative;
}
footer ul li a::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
footer ul li a:hover {
  color: #fff;
}
footer ul li a:hover::before {
  width: 100%;
}/*# sourceMappingURL=style.css.map */